.Profile__img-profile {
    clip-path: circle();
    object-fit: cover;
    width: 16rem;
    height: 16rem;
}

.state img{
    clip-path: circle();
    object-fit: cover;
    width: 4rem;
    height: 4rem;
}